<div class="container">
    <div class="container-fluid">
        <input type="text" [(ngModel)]="filter.search" (change)="onSearchTextChange()">

    </div>
</div>
<div class="section-layout">

    <div class="container">
        <div class="container-fluid">
            <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

                <div class="card" *ngFor="let book of  filteredBooks" (click)="openBook(book)">

                    {{book | json}}

                </div>
            </div>

        </div>
    </div>




</div>

<div *ngIf="loadingData">
    Loading
</div>