<div class="container">
    <div class="container-fluid">
        <div class="d-flex">
            <div class="mr-3 pointer" (click)="browserBack()">
                <i class="fas fa-2x fa-arrow-left back-arrow"></i>
            </div>
            <div class="header-2">{{filter.topic | titlecase}}</div>
        </div>

        <div class="row d-flex search-bar mt-3" style="justify-content: space-between;"
            [ngClass]="{'input-outline': isOutline}">
            <div class="d-flex">
                <div>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <span class="square-input-box" style="margin-top: -4%;" (click)="inputBoxClicked()">
                    <input type="text" class="input-field" type="text" placeholder="Search" [(ngModel)]="searchTerm"
                        (keyup)="searchTextOnDebounce()" />
                </span>
            </div>
            <div (click)="clearSearchText()" class="pointer">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>
</div>



<div class="section-layout">

    <div class="container">
        <div class="container-fluid">
            <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="10" (scrolled)="onScroll()">
                <div class="parent">
                    <div class="child pointer" *ngFor="let book of  filteredBooks" (click)="openBook(book)">
                        <span class="">
                            <img [src]="book.formats['image/jpeg']" alt="" class="book-image">
                        </span>
                        <div class="book-name mt-2">
                            <strong *ngIf="book.title">
                                {{(book.title | slice:0:25 | uppercase) + (book.title.length > 25 ?
                                '...'
                                : '')}}

                            </strong>
                        </div>
                        <div class="author-name mt-1" *ngIf="book.authors && book.authors.length > 0">
                            {{book.authors[0].name}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- Spinner -->
<div *ngIf="loadingData" class="spinner-bubble d-flex" style="flex-direction: column;">
    <app-loading-spinner></app-loading-spinner>
    <div class="semi-bold">Loading...</div>
</div>