<div class="container">
    <div class="container-fluid">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <img src="assets/images/basicLogo/search_logo.svg" alt="">
                </span>
            </div>
            <input type="text" class="form-control search-bar" placeholder="Search" aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="filter.search" (change)="onSearchTextChange()">
        </div>
    </div>
</div>

<div class="section-layout">

    <div class="container">
        <div class="container-fluid">
            <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
                <div class="parent">
                    <div class="child pointer" *ngFor="let book of  filteredBooks" (click)="openBook(book)">
                        <span class="">
                            <img [src]="book.formats['image/jpeg']" alt="" class="book-image">
                        </span>
                        <div class="book-name mt-2">
                            <strong *ngIf="book.title">
                                {{(book.title | slice:0:25 | uppercase) + (book.title.length > 25 ?
                                '...'
                                : '')}}

                            </strong>
                        </div>
                        <div class="author-name mt-1" *ngIf="book">{{book.authors[0].name}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- Spinner -->
<div *ngIf="loadingData" class="spinner-bubble d-flex" style="flex-direction: column;">
    <app-loading-spinner></app-loading-spinner>
    <div class="semi-bold">Loading...</div>
</div>