<div class="section-layout">
    <div class="container ">
        <div class="container-fluid">

            <div class="row ">
                <div class="heading-1 mt-5">
                    Gutenberg Project
                </div>
                <div class="semi-bold">
                    A social cataloging website that allows you to freely search its database of books, annotations,
                    <div class="semi-bold">
                        and reviews.
                    </div>
                </div>
            </div>

            <div class="row mt-5 d-flex" style="justify-content: space-between;">
                <div class="col-12 col-lg-5 col-md-5">
                    <div class="btn btn-custome  d-flex" style="justify-content: space-between;"
                        [routerLink]="['/fiction']">
                        <div class="d-flex">
                            <div class="mr-3"><img src="assets/images/basicLogo/book_logo.svg" alt=""></div>
                            <div class="heading-2">FICTION</div>
                        </div>
                        <div><img src="assets/images/basicLogo/right_arrow.svg" alt=""></div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 col-md-5">
                    <div class="btn btn-custome  d-flex" style="justify-content: space-between;">
                        <div class="d-flex">
                            <div class="mr-3"><img src="assets/images/basicLogo/book_logo.svg" alt=""></div>
                            <div class="heading-2">PHILOSOPHY</div>
                        </div>
                        <div><img src="assets/images/basicLogo/right_arrow.svg" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="row mt-2 d-flex" style="justify-content: space-between;">
                <div class="col-12 col-lg-5 col-md-5">
                    <div class="btn btn-custome  d-flex" style="justify-content: space-between;">
                        <div class="d-flex">
                            <div class="mr-3"><img src="assets/images/basicLogo/book_logo.svg" alt=""></div>
                            <div class="heading-2">DRAMA</div>
                        </div>
                        <div><img src="assets/images/basicLogo/right_arrow.svg" alt=""></div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 col-md-5">
                    <div class="btn btn-custome  d-flex" style="justify-content: space-between;">
                        <div class="d-flex">
                            <div class="mr-3"><img src="assets/images/basicLogo/book_logo.svg" alt=""></div>
                            <div class="heading-2">HISTORY</div>
                        </div>
                        <div><img src="assets/images/basicLogo/right_arrow.svg" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="row mt-2 d-flex" style="justify-content: space-between;">
                <div class="col-12 col-lg-5 col-md-5">
                    <div class="btn btn-custome  d-flex" style="justify-content: space-between;">
                        <div class="d-flex">
                            <div class="mr-3"><img src="assets/images/basicLogo/book_logo.svg" alt=""></div>
                            <div class="heading-2">HUMOUR</div>
                        </div>
                        <div><img src="assets/images/basicLogo/right_arrow.svg" alt=""></div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 col-md-5">
                    <div class="btn btn-custome  d-flex" style="justify-content: space-between;">
                        <div class="d-flex">
                            <div class="mr-3"><img src="assets/images/basicLogo/book_logo.svg" alt=""></div>
                            <div class="heading-2">ADVENTURE</div>
                        </div>
                        <div><img src="assets/images/basicLogo/right_arrow.svg" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="row mt-2 d-flex" style="justify-content: space-between;">
                <div class="col-12 col-lg-5 col-md-5">
                    <div class="btn btn-custome  d-flex" style="justify-content: space-between;">
                        <div class="d-flex">
                            <div class="mr-3"><img src="assets/images/basicLogo/book_logo.svg" alt=""></div>
                            <div class="heading-2">POLITICS</div>
                        </div>
                        <div><img src="assets/images/basicLogo/right_arrow.svg" alt=""></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>